/*---sec1---*/
img{
	max-width:100%;
}
.sec1{
	display: table;
	width: 100%;
	overflow: hidden;
	span{display:block;font-size: 18px;line-height: 1;}
	img{
		margin-bottom: 20px;
	}
	ul {
		padding:0;
		margin-top: 15px;
		text-align: center;
		li{
			display:inline-block;
			color:$mintG;
			list-style:none;
			font-size: 20px;
			padding:5px;
		}
	}
	.col-md-8,.col-md-4{display: table-cell;float: none;}
}
.sec1 .col-md-4{
	padding: 0;
}
.mintBack{
	background: $mintG;
	padding:0 15px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	p:first-child{
		margin-top: 150px;
		margin-left: 60px;
	}
	p:last-child{
		margin-top: 60px;
		float: left;
		margin-left: 200px;
	}
	p span{color: white;display: block}
}
.whiteB{
	padding: 20px;
	box-sizing: border-box;
}
/*-----sec2-------*/
.sec2 .line{
	-webkit-transform: rotate(-38.7deg); /* Safari and Chrome */
        -ms-transform: rotate(-38.7deg); /* IE 9 */
            transform: rotate(-38.7deg);

}
.yellow{
	@extend .mintBack;
	background: $yellow;

	.fa-long-arrow-right{
		display: inline-block;
		position: absolute;
		left: 0;
		color:#fff;
	}
	p{
		margin-left: 20px;
	}
	.blockM{
		position:relative;
		margin-top: 150px;
		margin-left: 60px;
		p{
			margin-left: 20px;
			float: left;
			font-size: 17px;
			line-height: 15px;
			font-family: reg;
			margin-top:0;
		}
	}
	h3{
		float:left;
		margin-top:30px;
		color:#fff;
		margin-left: 180px;
		font-size: 36px;
		line-height: 20px;
	}
}
body .heart{
	margin-top: 30px;
	i{text-align: center;font-size: 24px;}
	span{
		color:red;
		display: block;
		text-align: center;
	}
}
.arrowS{
	i{
		color:$yellow;
		margin-right: 10px;
		font-size: 17px;
	}
	a{
		text-transform: uppercase;
		color: $gray;
		text-decoration: none;
	}
	a:hover{text-decoration: none;}
}
.block{
	margin-top: 40px;
	margin-bottom: 15px;
	.heart{margin-top: 0;}
}
.backImg{
	position: relative;
	height: 450px;
	img{height: 100%;}
	.arrowS{
		margin-top: 15px;
		a{color: #fff;}
	}
}
.textAbs{
	position: absolute;
	top: 15px;
	left: 15px;
	color: #fff;
	margin:0;
	h4{margin:0;}
	.heart {
    	margin-top: 10px;
	}
}
.gray2{
	.textAbs{width: 100%;}
	span,h4{color: $grayB;}
	.arrowS a {
	    color: $grayB;
	}
	.heart i{color:$grayB; }
	.block {
	    margin-top: 20px;
	}
}
.custImg{max-height: 280px;}
