extends layout

block content
	section(class="sec1 clearfix")
		.col-md-8(class="clearfix")
			.whiteB.clearfix
				.col-md-3
					img(src="imgs/logo.png")
					span ASSOCIATES 
					span STUDIO 
					span DESIGN
					ul 
						li 
							i(class="fa fa-facebook")
						li 
							i(class="fa fa-twitter")
						li 
							i(class="fa fa-google-plus")
						li 
							i(class="fa fa-linkedin")
				.col-md-9
					img(src="imgs/chair.png")
		.col-md-4(class="clearfix")
			.mintBack
				p 
					span 90802 California 
					span Long beach 
					span PO Box 68789 
					span 300 East Ocean  
					span Boulev
				.line
				p
					span +64 9 345 6758 
					span info@dsgn-studio.com
	section(class="sec2 clearfix")
		
		.col-md-8(class="displayT noPadd")
			.col-md-6(class="clearfix displayTC")
				.yellow
					.blockM.clearfix
						i.fa.fa-long-arrow-right
						p
							span All
							span House 
							span Commercial 
							span Personal 
							span Studio Lab
					.line
					h3 PROJECTS
			.col-md-6(class="clearfix displayTC noPadd")
				.col-md-4.noPadd
					.marginL.auto
						h4 FONDUE
						p
							span(class="spanL") Project Assistant: 
							span(class="spanL") Francesco Dompieri
						p
							span(class="spanL") Material: 
							span(class="spanL") Glass and Metal
						p
							span(class="spanL") Typology: 
							span(class="spanL") Suspension lamp
						p
							span(class="spanL") Client: 
							span(class="spanL")  David Design
						p
							span(class="spanL") Year: 
							span(class="spanL")  2014
						.arrowS
							i.fa.fa-long-arrow-right
							a view project
					center.heart
						i.fa.fa-heart-o
						span +250
				.col-md-8
					img(src="imgs/lamp.png")
		.col-md-4.noPadd.gray
			.col-md-6
				.auto
					h4 potter
					p
						span(class="spanL capt") for stelton
					p
						span(class="spanL") Potter focuses on the functionality and process of preparing tea. a big sieve allows the flavor of to evenly brewed
					.arrowS
						i.fa.fa-long-arrow-right
						a view project
				center.heart
					i.fa.fa-heart-o
					span +250
			.col-md-6.noPadd
				img(src="imgs/potter.png")
		.col-md-4.noPadd.floatR
			.col-md-12.noPadd.center
				img.custImg(src="imgs/chair2.png")
			.col-md-6
				.auto
					h4 tabano
					span DESIGNER: PATRICIA URQUIOLA
					span Typology: Armchairs
					span Client: B&B ITALIA
					span Year: 2014
			.col-md-6.noPadd.block
				.col-md-6.noPadd
					.arrowS
						i.fa.fa-long-arrow-right
						a view project
				.col-md-6.noPadd
					center.heart
						i.fa.fa-heart-o
						span +250
		.col-md-2.noPadd.backImg
			img(src="imgs/backImg.png")
			.textAbs.auto
				h4 louis xx
				span designer: philippe starck 
				span ypology: chairs
				span Client: vitra
				span Year: 2012
				.arrowS
					i.fa.fa-long-arrow-right
					a view project
				center.heart
					i.fa.fa-heart-o
					span +250
		.col-md-6.noPadd.gray2.backImg
			img(src="imgs/brownChair.png")
			.textAbs
				.col-md-offset-5.col-md-3.noPadd
					.auto
						h4 395-396 P22
						span Designer: Patrick Norguet
						span Typology: ARMchairs
						span Client: Cassina
						span Year: 2013
				.col-md-4.noPadd.block
					.col-md-6.noPadd
						.arrowS
							i.fa.fa-long-arrow-right
							a view project
						center.heart
							i.fa.fa-heart-o
							span +250
		.col-md-4.noPadd
			.col-md-6.noPadd
				img(src="imgs/yellow2.png")
			.col-md-offset-1.col-md-4.noPadd
				.auto
					h4 FIJI
					span designer: Cuno Frommherz
					span Typology: armchairs
					span Year: 2012
				.arrowS.marg10
					i.fa.fa-long-arrow-right
					a view project
				center.heart.marg10
					i.fa.fa-heart-o
					span +250







		